<?xml version="1.0"?>
<launch>

  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch" >
    <arg name="world_file" value="$(find pacman)/data/worlds/pacworld.world" />
  </include>  
  <include file="$(find pacman)/launch/bootPointCloudNodelet.launch"/>
  
  <!-- node to throttle model states topic -->
  <node name="model_state_throttler" 
        type="throttle"
        pkg="topic_tools" 
        args="messages /gazebo/model_states 1 /my_model_states" />

  <node
    name = "movement"
    pkg = "pacman"
    type = "movement"
  >
    <remap from="cmd_vel" to="/cmd_vel_mux/input/teleop" />
  </node>


  <node
    name = "navigation"
    pkg = "pacman"
    type = "navigation"
  />

  <node
    name = "eyes"
    pkg = "pacman"
    type = "identification"
    respawn="true"
    output = "screen"
  />
  
  
  <!--
      output = "screen"
    launch-prefix = "gnome-terminal DASH DASH command"
  -->

</launch>
