<?xml version="1.0"?>
<launch>
  
  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch" >
    <arg name="world_file" value="$(find pacman)/data/worlds/random_world.world" />
  </include>  

  <node
    name = "movement"
    pkg = "pacman"
    type = "movement"
    output = "screen"
    launch-prefix = "gnome-terminal --command"
  />
</launch>
