<?xml version="1.0"?>
<launch>
  <arg
    name="recordChatter"
    default="0"
  />

  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch" >
    <arg name="world_file" value="$(find pacman)/data/worlds/pacworld.world" />
  </include> 

  <!---
  <node name="pacrun" pkg="pacman" type="pacrun">
    <remap from="cmd_vel" to="/cmd_vel_mux/input/teleop" />
  </node>
    -->
 
  <node name="model_state_throttler" type="throttle" pkg="topic_tools" args="messages /gazebo/model_states 1 /my_model_states" />
  
  <node
   name="recordAllButRGB"
   pkg="rosbag"
   type="record"
   args = "-aO walkerAll.bag -x /camera/rgb/.*"
   if="$(arg recordChatter)"
  />
</launch>
