<?xml version="1.0"?>
<launch>

  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch" >
    <arg name="world_file" value="$(find pacman)/data/worlds/random_world.world" />
  </include>  
  
  <node name="movement" pkg="pacman" type="movement">
    <!-- Re-map the cmd_vel commands to the topics the nodelet manager subscribes to.-->
    <!-- Instead of /cmd_vel_mux/input/teleop mapping to /mobile_base/commands/velocity also works.-->
    <remap from="cmd_vel" to="/cmd_vel_mux/input/teleop" />
  </node>
  
  <node pkg="nodelet" type="nodelet" name="pacman_nodelet_manager" args="manager" output="screen"/>
  
  <node pkg="nodelet" type="nodelet" name="pacman_depth_registry"
        args="load depth_image_proc/register pacman_nodelet_manager"
        output="screen">
    <!-- Topics the nodelet subscribes to: -->
    <remap from="rgb/camera_info" to="/camera/rgb/camera_info" />
    <remap from="depth/camera_info" to="/camera/depth/camera_info" />
    <remap from="depth/image_rect" to="/camera/depth/image_raw" />
    <!-- Topics the nodelet publishes: -->
    <remap from="depth_registered/camera_info" to="/pacman/depth_registered/camera_info" />
    <remap from="depth_registered/image_rect" to="/pacman/depth_registered/image_rect" />
  </node>
  
  <node pkg="nodelet" type="nodelet" name="pacman_depth_pointcloud"
        args="load depth_image_proc/point_cloud_xyz pacman_nodelet_manager"
        output="screen">
    <!-- Topics the nodelet subscribes to: -->
    <!-- Ambiguous. Cold be "/camera/rgb/camera_info or /pacman/depth_registered/camera_info" instead -->
    <remap from="camera_info" to="/pacman/depth_registered/camera_info" />
    <remap from="image_rect" to="/pacman/depth_registered/image_rect" />
    <!-- Topics the nodelet publishes: -->
    <remap from="points" to="/pacman/points" />
  </node>
  
</launch>
