<?xml version="1.0"?>
<launch>

  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch" >
    <arg name="world_file" value="$(find pacman)/data/worlds/small_world.world" />
  </include>  
  
  <node name="movement" pkg="pacman" type="movement">
    <!-- Re-map the cmd_vel commands to the topics the nodelet manager subscribes to.-->
    <!-- Instead of /cmd_vel_mux/input/teleop mapping to /mobile_base/commands/velocity also works.-->
    <remap from="cmd_vel" to="/cmd_vel_mux/input/teleop" />
  </node>
  

</launch>
