<launch>

  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch" >
    <arg name="world_file" value="$(find pacman)/data/worlds/small_world_empty.world" />
  </include>  
  

  <!--
  <node name="movement" pkg="pacman" type="movement">
    
    <remap from="cmd_vel" to="/cmd_vel_mux/input/teleop" />
  </node>
  -->

</launch>
